.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 2.5rem;
	background-image: linear-gradient(to right bottom, white, rgb(164, 190, 196));
}

.heading {
	margin-bottom: 2rem;
}

.navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.navigation a {
	font-size: 2rem;
	text-decoration: underline;
}
